*{
    padding:0;
    list-style:none;
    margin-right: 0;
    margin-top: 4px;
    margin-bottom: 0;
}



.cuadros{
    width:80px;
    height:80px;
    background-color:forestgreen;
    border:1px solid #127793

}
.flotar{
    float:left;
    text-align:center;
}


.ficha{
    border-radius:50px;
    width=10px;
    height=10px;
    margin-top:10px;
    
}
#Principal{
    width:1000px;
    height:1000px;
    
    
    
   
}

#Tablero {
    width: 800px;
    height:626px;
   position:absolute;   
    
    margin-left:30%;
    
    
    
}
#informacion{
    width:250px;
    height:250px;
    background-color:lawngreen;
    position:absolute;
    
}