*{
    margin:4px 0 0 9px;
    padding:0;
    list-style:none;
}



.cuadros{
    width:80px;
    height:80px;
    background-color:forestgreen;
    border:1px solid #127793

}
.flotar{
    float:left;
    text-align:center;
}
form{
    width:55%;
    padding-left:350px;
}

.ficha{
    border-radius:50px;
    width=10px;
    height=10px;
    margin-top:10px;
    
}

#guardar{
    background-color:aqua;
    width:10000px;
    height:1000px;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}