#cuerpo{
    background-color:black;
}

.cuadros {
    width: 90px;
    height: 90px;
    background-color: forestgreen;
    border: 1px solid #127793;
}

.flotar {
    float: left;
    text-align: center;
}

.ficha {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    background-color:forestgreen;
}

#general{
    width:500px;
    height:300px;
    
    position:relative;
    left:400px;
    top:150px;

}

.texto{
    font-size:30px;
    color:white;
    text-align:center;
    -webkit-animation: texto 1s ease-in-out infinite alternate;
    -moz-animation: texto 1s ease-in-out infinite alternate;
    
}
@-webkit-keyframes texto{
    from {
        text-shadow: 0 0 10px blueviolet, 0 0 20px blueviolet, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #6003;
    }
    to {
        text-shadow: 0 0 20px blueviolet, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
    }

.lista {
    font-size: 30px;
    color: white;
    text-align: center;
    -webkit-animation: lista 1s ease-in-out infinite alternate;
    -moz-animation: lista 1s ease-in-out infinite alternate;
}

@-webkit-keyframes lista {
    from {
        text-shadow: 0 0 10px blueviolet, 0 0 20px blueviolet, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #6003;
    }

    to {
        text-shadow: 0 0 20px blueviolet, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

#titulo{
    position:relative;
    
    bottom:250px;

}
